                /* Navigation */
        nav {
            position: sticky;
            top: 20px;
            padding: 20px 40px;
            z-index: 1000;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }
        
        nav.hidden {
            transform: translateY(-150px);
            opacity: 0;
        }
        
        .nav-container {
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid rgba(88, 220, 154, 0.44);
            border-radius: 50px;
            padding: 15px 40px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
             background: #32404c;
            font-family: 'Inter', sans-serif;
            color: #c8f5e1;
        }
        
        .logo {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 2px;
        }
        
        .nav-links {
            display: flex;
            gap: 40px;
            list-style: none;
            margin-right: 15px;
        }
        
        .nav-links a {
            color: #c8f5e1;
            text-decoration: none;
            font-weight: bolder;
            transition: opacity 0.2s;
            font-family: 'Figtree','Courier New', Courier, monospace;
        }
        
        .nav-links a:hover {
            opacity: 0.6;
        }

        
        
        
        /* Footer */
        footer {
            padding: 50px 40px;
            padding-bottom: 30px;
            border-top: 2px #58dc9a solid;
            background-color:#58dc9a;
        }
        
        .footer-container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        .footer-left h3 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 30px;
        }
        
        .social-links {
            display: flex;
            gap: 20px;
        }
        
        .footer-social-icon {
            width: 50px;
            height: 50px;

            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            transition: all 0.3s;
        }
        
        .social-icon:hover {
            background: #f0f0f0;
        }
        
        .footer-right {
            text-align: right;
        }
        
        .message-btn {
            padding: 12px 48px;
            border: 3px solid white;
            border-radius: 50px;
            background: none;
            font-size: 1.5rem;
            cursor: pointer;
            margin-bottom: 20px;
            transition: all 0.3s;
            color: white;
            font-weight: bolder;
        }
        
        .message-btn:hover {
            transform: translateY(-8px);
        }
        
        .footer-text {
            font-size: 0.9rem;
            color: white;
            max-width: 300px;
            line-height: 1.5;
            font-weight: bold;
        }

        @media (max-width: 768px) {

        .logo {
        display: none;
        }

        .nav-container {
        justify-content: center;
        }

        .nav-links {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        gap: 0;
        margin-right: 0px;
        }

        .nav-links li {
        flex: 1;
        text-align: center;
        }

        .nav-links li a {
        font-size: 0;
        display: block;
        }

        .nav-links li a::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.2rem;
        }

        .nav-links li a[href="index.html"]::before {
        content: "\f015";
        }

        .nav-links li a[href="portfolio.html"]::before {
        content: "\f0b1"; 
        }

        .nav-links li a[href="blog.html"]::before {
        content: "\f1ea";
        }


        .footer-left h3{
        font-size: 18px;
        margin-bottom: 20px;
        margin-top:-10px;
        }


        footer .social-links a {
        font-size: 14px;
        }

        footer .footer-text,
        footer .message-btn {
        display: none;
        }

        footer .footer-left {
        margin-right: auto;
        margin-left: auto;
        }

        }